<%= link_to raw('<button>Back</button>'), pins_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">

        <%= image_tag @pin.image.url %>

      </div>

      <div class="panel-body">
        <p><%= @pin.description %></p>
        <p><strong><%= @pin.user.name if @pin.user %></strong></p>

        <% if @pin.user == current_user %>
        
          <%= link_to raw('<button><span class="glyphicon glyphicon-pencil"></span></button>'), edit_pin_path(@pin) %>
          <%= link_to raw('<button><span class="glyphicon glyphicon-trash"></span></button>'), @pin, method: :delete, data: { confirm: 'Are you sure?' } %>

          <%= commontator_thread(@pin) %>
        
        <% end %>

      </div>
    </div>
  </div>
</div>
